
<!-- array of difft search results. we're going to loop over it.  -->

<% @businesses.each do |business| %> 
   <div style="text-align:left; font-family:futura">
    <%= link_to business.business_name, businesses_show_path %> | <%= business.industry %> | <%= business.city %>
     <br/>
   </div>
   <div style="font-size:20px; padding-bottom:25px;">
     <%= business.description %>
	</p>
   </div>
  
   















	<!-- <section>
		<h3><%= business.business_name %></h3>
		<p>
			<%= business.description %>
		</p>
		<p>
			<%= business.industry %>
		</p>
	</section> -->
<% end %>