
 
 <div class="buyer_create_header">
  <h2>Looking to own up? Create an Account.</h2>
 </div>

<div class="buyer_create_main">
	<%= form_for @buyer do |f| %>
   		<label>
        first name: <%= f.text_field :first_name %> 
        <br />
      </label>
      
      <label>
        last name: <%= f.text_field :last_name %> 
        <br />
      </label>

      <label>
    		email address: <%= f.text_field :email %>
   			<br />
   		</label>

      <label>
        spending limit: <%= f.text_field :spend_limit %>
        <br />
      </label>

  <label>
        city: <%= f.text_field :city %>
        <br />
      </label>

 <label>
        industries of interest: <%= f.text_field :industry_interests %>
        <br />
      </label>

 


		<label>
    		password: <%= f.password_field :password %>
    		<br />
  		</label>

  		<label> 
  			confirm password: <%= f.password_field :password_confirmation %>
  			<br />
  		</label>
  		<%= f.submit %>
</div>
	<% end %>



	<!-- <footer style="text-align: center; font-family:futura; position:relative; padding-top:5px; height:50px; width:100%; color: white; background-color:#171717"> -->
	<div class="masterfooter">
	 <div>
	  <p> about us | terms and conditions | careers</p>
	 </div>
	</div>
 </main>